<template>
<div>
  <Header />

  <main class="container">
    <el-row>
      <el-col :span="24">
        <Steps :step="step"/>

        <PersonalData
          v-if="step===0"
          @nextStep="nextStep"
        />
        <School
          v-if="step===1"
          @nextStep="nextStep"
          @prevStep="prevStep"
          />
        <Other
          v-if="step===2"
          @nextStep="nextStep"
          @prevStep="prevStep"
        />
        <AccompanyingPerson
          v-if="step===3"
          @nextStep="nextStep"
          @prevStep="prevStep"
        />
        <Route
          v-if="step===4"
          @nextStep="nextStep"
          @prevStep="prevStep"
        />
      </el-col>
    </el-row>

  </main>
</div>
</template>

<script>
import Header from '../components/Header.vue'
import Steps from '../components/Steps.vue'
import PersonalData from '../components/PersonalData.vue'
import School from '../components/School.vue'
import Other from '../components/Other.vue'
import AccompanyingPerson from '../components/AccompanyingPerson.vue'
import Route from '../components/Route.vue'


export default {
  components: {
    Header,
    Steps,
    PersonalData,
    School,
    Other,
    AccompanyingPerson,
    Route
  },
  data() {
    return {
      step: 0
    }
  },
  methods: {
    nextStep() {
      if (this.step < 4) {
        this.step += 1;
      }
    },
    prevStep() {
      if (this.step > 0) {
        this.step -= 1;
      }
    }
  }
}
</script>

<style>

</style>