<template>
  <el-form
  ref="additionalRef"
  label-position="top"
  :rules="rules"
  :model="accPerson"
  label-width="120px">

  <div class="form_container">
    <el-row class="row-bg" justify="space-between">
      <el-col :span="20">
        <el-form-item label="Выберите из списка сопровождающее лицо" prop="full_name">
          <el-table :data="filterTableData.slice(currentIndex, currentIndex + pageSize)" style="width: 100%" >
          <el-table-column label="ФИО" prop="name"/>
          <el-table-column label="Должность" prop="post" />
          <el-table-column align="center">
            <template #header>
              <el-input
              v-model="search"
              size="small"
              placeholder="Введите ФИО"/>
            </template>
            <template #default="scope">
              <el-button
                v-if="accPerson.accompanying_persons.list.indexOf(scope.row.id) === -1"
                size="small"
                type="primary"
                @click="handleAdd(scope.$index, scope.row)"
                >Выбрать</el-button
              >
              <el-button
                v-if="accPerson.accompanying_persons.list.indexOf(scope.row.id) > -1"
                size="small"
                type="primary"
                plain
                @click="handleDelete(scope.$index, scope.row)"
                >Отменить выбор</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          small
          background
          layout="prev, pager, next"
          style="marginTop: 40px"
          :total="totalItems"
          v-model:currentPage="currentPage"
          v-model:page-size="pageSize">
          </el-pagination>
        </el-form-item>
      </el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between" >
      <el-col :span="15">
        <el-form-item>
          <el-col :span="12">
            <p class="other_label">
              В списке нет сопровождающего лица?
            </p>
            </el-col>
          <el-col :span="2">
        <el-switch v-model="isAdd" />
          </el-col>
      </el-form-item>
      </el-col>
    </el-row>
  </div>

  <div class="form_container" v-if="isAdd">
    <h3 class="form_subtitle">Данные сопровождающего лица</h3>
  <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
      <el-form-item label="Фамилия, имя, отчество" prop="fio">
        <el-input
        v-model="accPerson.fio"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="3"></el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="6">
      <el-form-item label="Пол" prop="sex">
      <el-radio-group v-model="accPerson.sex">
        <el-radio label="Мужской"></el-radio>
        <el-radio label="Женский"></el-radio>
      </el-radio-group>
    </el-form-item>
    </el-col>
    <el-col :span="6">
      <el-form-item label="Дата рождения" prop="birthday">
        <el-date-picker v-model="accPerson.birthday" type="date" placeholder="Выберите дату">
      </el-date-picker>
      </el-form-item>
    </el-col>
    <el-col :span="6">
    </el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="6">
      <el-form-item
      label="Телефон" prop="phone">
        <el-input
        v-model.number="accPerson.phone"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="6">
      <el-form-item
      label="Email"
      prop="email"
      >
        <el-input
        v-model="accPerson.email"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="6">
    </el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
      <el-form-item label="Место рождения" prop="place_birth">
        <el-input
        v-model="accPerson.place_birth"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="3"></el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
      <el-form-item label="Место работы" prop="place_work">
        <el-input
        v-model="accPerson.place_work"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="3"></el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
      <el-form-item label="Должность" prop="post">
        <el-input
        v-model="accPerson.post"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="3"></el-col>
  </el-row>
  </div>

  <div class="form_container" v-if="isAdd">
    <h3 class="upload_title">Загрузите файл согласия на передачу и обработку персональных данных участника. <span class="download_link" @click="downloadFile">Скачать шаблон</span></h3>
    <el-upload
      drag
      action="#"
      :auto-upload="false"
      :on-change="handleChange"
    >
    <el-icon class="el-icon--upload"><upload-filled /></el-icon>
    <div class="el-upload__text">
      Перетащите сюда файл или <em>кликните</em>
    </div>
    <template #tip>
      <div class="el-upload__tip">
        jpg/pdf файл не более 10мб
      </div>
    </template>
  </el-upload>
  </div>
  <div class="btns">
    <el-form-item>
      <el-button type="primary" @click="onSubmit(this.$refs.additionalRef)"
        >Далее</el-button
      >
    </el-form-item>
    <el-button
      class="btns_prev"
      type="primary"
      plain
      @click="$emit('prevStep')"
          >Назад</el-button
        >
    </div>
  </el-form>
</template>

<script>
import { UploadFilled } from '@element-plus/icons-vue'
import { jsPDF } from "jspdf"
import { mapGetters } from 'vuex'
export default {
  components: {
    UploadFilled
  },
  emits: ['nextStep', 'prevStep'],
  data() {
    return {
      accPerson: {
        "fio": "",
        "sex": "",
        "birthday": "",
        "place_birth": "",
        "phone": "",
        "email": "",
        "place_work": "",
        "post": "",
        "agree_file": '',
        accompanying_persons: {
          list: []
        }
      },
      isAdd: true,
      search: '',
      pageSize: 3,
      currentPage: 1,
      rules: {
        fio: [
          {
            required: true,
            message: 'Укажите данные',
            trigger: 'blur',
          }
        ],
        sex: [
          {
            required: true,
            message: 'Укажите данные',
            trigger: 'blur',
          }
        ],
        birthday: [
          {
            required: true,
            message: 'Укажите данные',
            trigger: 'blur',
          }
        ],
        phone: [
          {
            required: true,
            message: 'Укажите данные',
            trigger: 'blur',
          }
        ],
        email: [
          {
            required: true,
            message: 'Укажите данные',
            trigger: 'blur',
          }
        ],
        place_birth: [
          {
            required: true,
            message: 'Укажите данные',
            trigger: 'blur',
          }
        ],
        place_work: [
          {
            required: true,
            message: 'Укажите данные',
            trigger: 'blur',
          }
        ],
        post: [
          {
            required: true,
            message: 'Укажите данные',
            trigger: 'blur',
          }
        ],
      }
    }
  },
  computed: {
    ...mapGetters(['accList']),
    totalItems() {
      return this.filterTableData.length;
    },
    filterTableData() {
      const filterArr = this.accList.filter(
    (data) =>
      !this.search ||
      data.name.toLowerCase().includes(this.search.toLowerCase()))
      return filterArr
    },
    currentIndex() {
      return (this.currentPage - 1) * this.pageSize;
    }
  },
  methods: {
    handleAdd(index, row) {
      if (this.accPerson.accompanying_persons.list.indexOf(row.id) === -1)
      this.accPerson.accompanying_persons.list.push(row.id);
    },
    handleDelete(index, row) {
      const itemIndex = this.accPerson.accompanying_persons.list.indexOf(row.id);
      this.accPerson.accompanying_persons.list.splice(itemIndex, 1);
      console.log(this.accPerson.accompanying_persons.list);
    },
    downloadFile() {
      const doc = new jsPDF();

      doc.text("Hello world!", 15, 15);

      doc.save('output.pdf')
    },
    onSubmit(formEl) {
      console.log(this.school);
      this.$emit('nextStep');
  //         if (!formEl) return
  //      formEl.validate((valid) => {
  //     if (valid) {
  //       console.log('submit!')
  //     } else {
  //       console.log('error submit!')
  //       return false
  //   }
  // })
    }
  }

}
</script>

<style>

</style>