<template>
  <el-form
  ref="additionalRef"
  label-position="top"
  :rules="rules"
  :model="additional"
  label-width="120px">

  <div class="form_container">
    <el-row class="row-bg" justify="space-between">
      <el-col :span="6">
        <el-form-item label="Размер футболки" prop="size">
        <el-select v-model="additional.size" placeholder="Размер">
          <el-option
            v-for="item in additional.sizeOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      </el-col>
      <el-col :span="6"></el-col>
      <el-col :span="6"></el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between">
      <el-col :span="15">
        <el-form-item>
          <el-col :span="12">
            <p class="other_label">
              Есть ли аллергия на продукты питания и/или медицинские препараты?
            </p>
            </el-col>
          <el-col :span="2">
        <el-switch v-model="additional.is_allergy" />
          </el-col>
      </el-form-item>
      </el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between" v-if="additional.is_allergy">
      <el-col :span="15">
        <el-form-item label="Укажите на какие именно продукты и медицинские препараты есть аллергия:">
          <el-input v-model="additional.note_allergy" type="textarea"></el-input>
      </el-form-item>
      </el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between">
      <el-col :span="15">
        <el-form-item>
          <el-col :span="12">
            <p class="other_label">
              Относится ли участник к категории обучающихся с ОВЗ и/или инвалидностью?
            </p>
            </el-col>
          <el-col :span="2">
        <el-switch v-model="additional.is_voz" />
          </el-col>
      </el-form-item>
      </el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between">
      <el-col :span="15">
        <el-form-item>
          <el-col :span="12">
            <p class="other_label">
              Нуждается ли участник в специальных условиях при организации олимпиады?
            </p>
            </el-col>
          <el-col :span="2">
        <el-switch v-model="additional.is_need_conditions" />
          </el-col>
      </el-form-item>
      </el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between" v-if="additional.is_need_conditions">
      <el-col :span="15">
        <el-form-item label="Укажите какие именно условия необходимо предоставить:">
          <el-input v-model="additional.note_conditions" type="textarea"></el-input>
      </el-form-item>
      </el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between">
      <el-col :span="15">
        <el-form-item label="Особые сведения (непереносимость медицинских препаратов, хронический заболевания, о которых необходимо знать организаторам)">
          <el-input v-model="additional.note_special" type="textarea"></el-input>
      </el-form-item>
      </el-col>
    </el-row>
  </div>

  <div class="form_container">
    <h3 class="upload_title">Загрузите файл согласия на передачу и обработку персональных данных участника. <span class="download_link" @click="downloadFile">Скачать шаблон</span></h3>
    <el-upload
      drag
      action="#"
      :auto-upload="false"
      :on-change="handleChange"
    >
    <el-icon class="el-icon--upload"><upload-filled /></el-icon>
    <div class="el-upload__text">
      Перетащите сюда файл или <em>кликните</em>
    </div>
    <template #tip>
      <div class="el-upload__tip">
        jpg/pdf файл не более 10мб
      </div>
    </template>
  </el-upload>
  </div>

  <div class="btns">
    <el-form-item>
      <el-button type="primary" @click="onSubmit(this.$refs.additionalRef)"
        >Далее</el-button
      >
    </el-form-item>
    <el-button
    class="btns_prev"
    type="primary"
    plain
    @click="$emit('prevStep')"
        >Назад</el-button
      >
  </div>
  </el-form>
</template>

<script>
import { UploadFilled } from '@element-plus/icons-vue'
import { jsPDF } from "jspdf"


export default {
  emits: ['nextStep', 'prevStep'],
  components: {
    UploadFilled
  },
  data() {
    return {
      additional: {
        "size": "",
        "is_allergy": 1,
        "note_allergy": "",
        "is_voz": 1,
        "is_need_conditions": 1,
        "note_conditions": "",
        "note_special": "",
        "agree_file": "",
        sizeOptions: [
          {
            label: 'S',
            value: 'S'
          },
          {
            label: 'M',
            value: 'M'
          },
          {
            label: 'L',
            value: 'L'
          },
          {
            label: 'XL',
            value: 'XL'
          },
        ]
    }
    }
  },
  methods: {
    downloadFile() {
      const doc = new jsPDF();

      doc.text("Hello world!", 15, 15);

      doc.save('output.pdf')
    },
    handleChange(file, list) {
      this.additional.agree_file = file.raw;
    },
    onSubmit(formEl) {
      console.log(this.additional);
      this.$emit('nextStep');
  //     if (!formEl) return
  //      formEl.validate((valid) => {
  //     if (valid) {
  //       console.log('submit!')
  //     } else {
  //       console.log('error submit!')
  //       return false
  //   }
  // })
    }
  }

}
</script>

<style>

</style>