<template>
  <el-form
  ref="userRef"
  label-position="top"
  :rules="rules"
  :model="user"
  label-width="120px">
  <div class="form_container">
  <el-row class="row-bg" justify="space-between">
    <el-col :span="6">
      <el-form-item label="Фамилия" prop="surname">
        <el-input
        v-model="user.surname"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="6">
      <el-form-item label="Имя" prop="name">
        <el-input
        v-model="user.name"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="6">
      <el-form-item label="Отчество" prop="patronymic">
      <el-input
        class="w-50 m-2"
        v-model="user.patronymic"
        ></el-input>
      </el-form-item>
    </el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="6">
      <el-form-item label="Пол" prop="sex">
      <el-radio-group v-model="user.sex">
        <el-radio label="Мужской"></el-radio>
        <el-radio label="Женский"></el-radio>
      </el-radio-group>
    </el-form-item>
    </el-col>
    <el-col :span="6">
      <el-form-item label="Дата рождения" prop="birthday">
        <el-date-picker v-model="user.birthday" type="date" placeholder="Выберите дату">
      </el-date-picker>
      </el-form-item>
    </el-col>
    <el-col :span="6">
      <el-form-item label="Пароль" prop="password">
      <el-input
        v-model="user.password"
        type="password"
        autocomplete="off"
        ></el-input>
      </el-form-item>
    </el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="6">
      <el-form-item
      label="Телефон" prop="phone">
        <el-input
        v-model.number="user.phone"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="6">
      <el-form-item
      label="Email"
      prop="email"
      >
        <el-input
        v-model="user.email"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="6">
      <el-form-item label="Подтвердите пароль" prop="checkPass">
      <el-input
        v-model="user.checkPass"
        type="password"
        autocomplete="off"
        ></el-input>
      </el-form-item>
    </el-col>
  </el-row>
  </div>

  <div class="form_container">
    <el-row class="row-bg" justify="space-between">
    <el-col :span="8">
      <el-form-item label="Документ, удостоверяющий личность" prop="type">
        <el-select v-model="user.type" placeholder="Тип документа">
          <el-option
            v-for="item in user.documentOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
    </el-col>
    <el-col :span="5"></el-col>
    <el-col :span="5"></el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="6">
      <el-form-item label="Серия" prop="series">
        <el-input
        v-model="user.series"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="6">
      <el-form-item label="Номер" prop="number">
      <el-input
        v-model="user.number"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="6"></el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
      <el-form-item label="Кем выдан" prop="authority">
        <el-input
        v-model="user.authority"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="3"></el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
  <el-col :span="6">
      <el-form-item label="Дата выдачи" prop="date_issue">
        <el-date-picker v-model="user.date_issue" type="date" placeholder="Выберите дату">
      </el-date-picker>
      </el-form-item>
    </el-col>
  </el-row>
  </div>

  <div class="form_container">
    <el-row class="row-bg" justify="space-between">
      <el-col :span="6">
        <el-form-item label="Регион проживания" prop="region">
          <el-input
          v-model="user.region"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="6"></el-col>
      <el-col :span="6"></el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between">
      <el-col :span="6">
        <el-form-item label="Район/область" prop="zone">
          <el-input
          v-model="user.zone"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="6"></el-col>
      <el-col :span="6"></el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between">
      <el-col :span="6">
        <el-form-item label="Город/населенный пункт" prop="city">
          <el-input
          v-model="user.city"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="6"></el-col>
      <el-col :span="6"></el-col>
    </el-row>
  </div>

  <div class="form_container">
    <h3 class="upload_title">Загрузите фото (3x4)</h3>
    <el-upload
      drag
      action="#"
      :auto-upload="false"
      :on-change="handleChange"
    >
    <el-icon class="el-icon--upload"><upload-filled /></el-icon>
    <div class="el-upload__text">
      Перетащите сюда файл или <em>кликните</em>
    </div>
    <template #tip>
      <div class="el-upload__tip">
        jpg/pdf файл не более 10мб
      </div>
    </template>
  </el-upload>
  </div>

  <div class="btns">
    <el-form-item>
      <el-button type="primary" @click="onSubmit(this.$refs.userRef)"
        >Далее</el-button
      >
    </el-form-item>
  </div>

  </el-form>

</template>

<script>
import { UploadFilled } from '@element-plus/icons-vue'
import { mapActions } from 'vuex'
export default {
  emits: ['nextStep'],
  components: {
    UploadFilled
  },
  data() {
    return {
      user: {
        file: '',
        surname: '',
        name: '',
        patronymic: '',
        sex: '',
        birthday: '',
        password: '',
        checkPass: '',
        phone: '',
        email: '',
        type: '',
        documentOptions: [
          {
            label: 'Паспорт',
            value: '1'
          },
          {
            label: 'Cвидетельство о рождении',
            value: '2'
          }
        ],
        series: '',
        number: '',
        data_issue: '',
        authority: '',
        photo: {
          name: ''
        },
        region: '',
        zone: '',
        city: ''
      },
      rules: {
        surname: [
          {
            required: true,
            message: 'Введите фамилию',
            trigger: 'blur',
          }
        ],
        name: [
          {
            required: true,
            message: 'Введите имя',
            trigger: 'blur',
          }
        ],
        sex: [
          {
            required: true,
            message: 'Укажите пол',
            trigger: 'blur',
          }
        ],
        birthday: [
          {
            type: 'date',
            required: true,
            message: 'Укажите дату рождения',
            trigger: 'change',
          }
        ],
        password: [
          {
            required: true,
            message: 'Введите пароль',
            trigger: 'blur',
          }
        ],
        checkPass: [
          {
            required: true,
            validator: this.validatePass2,
            trigger: 'blur'
          }
        ],
        email: [
          {
            required: true,
            message: 'Введите email',
            trigger: 'blur',
          },
          {
            type: 'email',
            message: 'Email некорректный',
            trigger: 'blur',
          },
        ],
        phone: [
          { required: true,
            message: 'Введите номер телефона'
          },
          {
            type: 'number',
            message: 'Допускаются только цифры'
          },
        ],
        type: [
          {
            required: true,
            message: 'Выберите тип документа',
            trigger: 'change',
          }
        ],
        series: [
          { required: true,
            message: 'Введите серию'
          },
        ],
        number: [
          { required: true,
            message: 'Введите номер'
          },
        ],
        authority: [
          {
            required: true,
            message: 'Укажите орган, выдавший документ',
            trigger: 'blur',
          }
        ],
        date_issue: [
          {
            type: 'date',
            required: true,
            message: 'Укажите дату выдачи',
            trigger: 'change',
          }
        ],
      }
    }
  },

  methods: {
    ...mapActions({firstStep: 'SET_PESONAL_DATA'}),
    validatePass2(rule, value, callback) {
      if (value === '') {
          callback(new Error('Подтвердите пароль'))
        } else if (value !== this.user.password) {
          callback(new Error("Пароли не совпадают"))
        } else {
          callback()
        }
    },
    handleChange(file, list) {
      this.user.photo = file.raw;
    },
    onSubmit(formEl) {
      console.log(this.user);
      this.$emit('nextStep');
      const data = {
        user: {
          surname: this.user.surname,
          name: this.user.name,
          patronymic: this.user.patronymic,
          sex: this.user.sex,
          phone: this.user.phone,
          birthday: this.user.birthday,
          email: this.user.email,
          password: this.user.password
        },
        document: {
          type: this.user.type,
          series: this.user.series,
          number: this.user.number,
          date_issue: this.user.date_issue,
          authority: this.user.authority
        },
        address: {
          region: this.user.region,
          zone: this.user.zone,
          city: this.user.city
        },
      }
      if (!formEl) return
       formEl.validate((valid) => {
      if (valid) {
        console.log('submit!')
        this.firstStep(data);
      } else {
        console.log('error submit!')
        return false
    }
  })
    }
}
}
</script>