<template>

<el-form
  ref="additionalRef"
  label-position="top"
  :rules="rules"
  :model="additional"
  label-width="120px">

  <div class="form_container">
    <h3 class="form_subtitle" style="marginBottom: 0">Для участников из регионов РФ, кроме г. Москвы</h3>
  </div>

  <div class="form_container">
    <h3 class="form_subtitle">Прилет/приезд в г. Москва</h3>
    <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
      <el-form-item label="Дата и время прибытия (по московскому времени)" prop="date_arrival">
        <el-date-picker
        v-model="route.date_arrival"
        type="datetime"
        placeholder="Выберите дату и время"
      >
      </el-date-picker>
      </el-form-item>
    </el-col>
    <el-col :span="3"></el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
      <el-form-item label="Вид транспорта" prop="type_transport_arrival">
        <el-select v-model="route.type_transport_arrival" placeholder="Вид транспорта">
          <el-option
            v-for="item in typeOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
    </el-col>
    <el-col :span="3"></el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
      <el-form-item label="Место прибытия (аэропорт/ ж/д вокзал, автовокзал и т.д.)" prop="place_arrival">
        <el-input
        v-model="route.place_arrival"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="3"></el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
      <el-form-item label="Номер рейса самолета или номер поезда и вагона" prop="number_arrival">
        <el-input
        v-model="route.number_arrival"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="3"></el-col>
  </el-row>
  </div>

  <div class="form_container">
    <h3 class="form_subtitle">Вылет/выезд из г. Москва</h3>
    <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
      <el-form-item label="Дата и время отъезда (по московскому времени)" prop="date_departure">
        <el-date-picker
        v-model="route.date_departure"
        type="datetime"
        placeholder="Выберите дату и время"
      >
      </el-date-picker>
      </el-form-item>
    </el-col>
    <el-col :span="3"></el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
      <el-form-item label="Вид транспорта" prop="type_transport_departure">
        <el-select v-model="route.type_transport_departure" placeholder="Вид транспорта">
          <el-option
            v-for="item in typeOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
    </el-col>
    <el-col :span="3"></el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
      <el-form-item label="Место прибытия (аэропорт/ ж/д вокзал, автовокзал и т.д.)" prop="place_departure">
        <el-input
        v-model="route.place_departure"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="3"></el-col>
  </el-row>

  <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
      <el-form-item label="Номер рейса самолета или номер поезда и вагона" prop="number_departure">
        <el-input
        v-model="route.number_departure"
        ></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="3"></el-col>
  </el-row>

  </div>


<div class="btns">
    <el-form-item>
      <el-button type="primary" @click="onSubmit(this.$refs.schoolRef)"
        >Завершить регистрацию</el-button
      >
    </el-form-item>
    <el-button
    class="btns_prev"
    type="primary"
    plain
    @click="$emit('prevStep')"
        >Назад</el-button
      >
  </div>
  </el-form>

</template>

<script>
export default {
  emits: ['nextStep', 'prevStep'],
  data() {
    return {
      route: {
        "date_arrival": "",
        "type_transport_arrival": '',
        "place_arrival": "",
        "number_arrival": "",
        "date_departure": "",
        "type_transport_departure": '',
        "place_departure": "",
        "number_departure": ""
      },
      typeOptions: [
        {
          label: 'Автобус',
          value: '1'
        },
        {
          label: 'Поезд',
          value: '2'
        },
        {
          label: 'Самолет',
          value: '3'
        },
        {
          label: 'Автомобиль',
          value: '4'
        },
      ]
    }
  },
  methods: {
    onSubmit(formEl) {
      console.log(this.additional);
      this.$emit('nextStep');
  //     if (!formEl) return
  //      formEl.validate((valid) => {
  //     if (valid) {
  //       console.log('submit!')
  //     } else {
  //       console.log('error submit!')
  //       return false
  //   }
  // })
    }
  }

}
</script>
