<template>
<el-form
  ref="schoolRef"
  label-position="top"
  :rules="rules"
  :model="school"
  label-width="120px">
  <div class="form_container">
    <el-row class="row-bg" justify="space-between">
      <el-col :span="15">
        <el-form-item label="Полное название образовательное организации" prop="full_name">
          <el-input
          v-model="school.full_name"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="3"></el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
        <el-form-item label="Сокращенное название образовательной организации" prop="short_name">
          <el-input
          v-model="school.short_name"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="3"></el-col>
    </el-row>
  </div>

  <div class="form_container">
    <el-row class="row-bg" justify="space-between">
      <el-col :span="6">
        <el-form-item label="Статус участника олимпиады" prop="status_olympic">
        <el-select v-model="school.status_olympic" placeholder="Статус участника">
          <el-option
            v-for="item in school.statusOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      </el-col>
      <el-col :span="6"></el-col>
      <el-col :span="6"></el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between">
    <el-col :span="6">
        <el-form-item label="Количество баллов" prop="mark_olympic">
          <el-input
          v-model.number="school.mark_olympic"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="6"></el-col>
      <el-col :span="6"></el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between">
      <el-col :span="11" >
        <el-form-item label="Класс, в котором обучается участник" prop="grade_number">
          <el-col :span="6">
            <el-select v-model="school.grade_number" placeholder="Класс" style="marginRight: 20px">
            <el-option
              v-for="item in school.classOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
          </el-col>
          <el-col :span="5">
            <el-select v-model="school.grade_letter" placeholder="Буква">
            <el-option
              v-for="item in school.letterOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
          </el-col>
      </el-form-item>
      </el-col>
      <el-col :span="6"></el-col>
      <el-col :span="6"></el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between">
      <el-col :span="11" >
        <el-form-item label="Класс, за который выступает участник" prop="grade_performs">
          <el-col :span="6">
            <el-select v-model="school.grade_performs" placeholder="Класс" style="marginRight: 20px">
            <el-option
              v-for="item in school.classOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
          </el-col>
          <el-col :span="5">
          </el-col>
      </el-form-item>
      </el-col>
      <el-col :span="6"></el-col>
      <el-col :span="6"></el-col>
    </el-row>

  </div>


  <div class="form_container">
    <el-row class="row-bg" justify="space-between">
      <el-col :span="15">
        <el-form-item label="Фамилия, имя и отчество наставника, подготовившего участника олимпиады " prop="fio_teacher">
          <el-input
          v-model="school.fio_teacher"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="3"></el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
        <el-form-item label="Место работы" prop="place_work">
          <el-input
          v-model="school.place_work"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="3"></el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between">
      <el-col :span="15">
        <el-form-item label="Должность" prop="post">
          <el-input
          v-model="school.post"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="3"></el-col>
    </el-row>

    <el-row class="row-bg" justify="space-between">
    <el-col :span="15">
        <el-form-item label="Ученая степень" prop="academic_degree">
          <el-input
          v-model="school.academic_degree"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="3"></el-col>
    </el-row>
  </div>



  <div class="btns">
    <el-form-item>
      <el-button type="primary" @click="onSubmit(this.$refs.schoolRef)"
        >Далее</el-button
      >
    </el-form-item>
    <el-button
    class="btns_prev"
    type="primary"
    plain
    @click="$emit('prevStep')"
        >Назад</el-button
      >
  </div>
</el-form>
</template>

<script>
export default {
  emits: ['nextStep', 'prevStep'],
  data() {
    return {
      school: {
        "full_name": "",
        "short_name": "",
        "status_olympic": "",
        "mark_olympic": "",
        "grade_number": "",
        "grade_letter": "",
        "grade_performs": "",
        "fio_teacher": "",
        "place_work": "",
        "post": "",
        "academic_degree": "",
        statusOptions: [
          {
            label: 'Прошел по баллам в 2022 году',
            value: '1'
          },
          {
            label: 'По квоте субъекта РФ в 2022 году',
            value: '2'
          },
          {
            label: 'Прошел по баллам в 2021 году',
            value: '3'
          },
          {
            label: 'Иное',
            value: '4'
          }
        ],
        classOptions: [
          {
            label: '9',
            value: '9'
          },
          {
            label: '10',
            value: '10'
          },
          {
            label: '11',
            value: '11'
          },
        ],
        letterOptions: [
          { label: 'А', value: 'А' }, { label: 'Б', value: 'Б' }, { label: 'В', value: 'В' }, { label: 'Г', value: 'Г' }, { label: 'Д', value: 'Д' }, { label: 'Е', value: 'Е' }, { label: 'Ж', value: 'Ж' }, { label: 'З', value: 'З' }, { label: 'И', value: 'И' }, { label: 'Й', value: 'Й' }, { label: 'К', value: 'К' }, { label: 'Л', value: 'Л' }, { label: 'М', value: 'М' }, { label: 'Н', value: 'Н' }, { label: 'О', value: 'О' }, { label: 'П', value: 'П' }, { label: 'Р', value: 'Р' }, { label: 'С', value: 'С' }, { label: 'Т', value: 'Т' }, { label: 'У', value: 'У' }, { label: 'Ф', value: 'Ф' }, { label: 'Х', value: 'Х' }, { label: 'Ц', value: 'Ц' }, { label: 'Ч', value: 'Ч' }, { label: 'Ш', value: 'Ш' }, { label: 'Щ', value: 'Щ' }, { label: 'Ъ', value: 'Ъ' }, { label: 'Ы', value: 'Ы' }, { label: 'Ь', value: 'Ь' }, { label: 'Э', value: 'Э' }, { label: 'Ю', value: 'Ю' }, { label: 'Я', value: 'Я' },

        ]
      },
      rules: {
        fio_teacher: [
          {
            required: true,
            message: 'Укажите данные',
            trigger: 'blur',
          }
        ],
        place_work: [
          {
            required: true,
            message: 'Укажите данные',
            trigger: 'blur',
          }
        ],
        post: [
          {
            required: true,
            message: 'Укажите данные',
            trigger: 'blur',
          }
        ],
        academic_degree: [
          {
            required: true,
            message: 'Укажите данные',
            trigger: 'blur',
          }
        ],
        full_name: [
          {
            required: true,
            message: 'Укажите полное название',
            trigger: 'blur',
          }
        ],
        short_name: [
          {
            required: true,
            message: 'Укажите сокращенное название',
            trigger: 'blur',
          }
        ],
        status_olympic: [
          {
            required: true,
            message: 'Укажите статус',
            trigger: 'blur',
          }
        ],
        grade_number: [
          {
            required: true,
            validator: this.gradeNumLet,
            trigger: 'blur',
          }
        ],
        grade_letter: [
          {
            required: true,
            message: 'Укажите букву',
            trigger: 'blur',
          }
        ],
        grade_performs: [
          {
            required: true,
            message: 'Укажите класс',
            trigger: 'blur',
          }
        ],
        mark_olympic: [
          {
            required: true,
            message: 'Введите количество баллов'
          },
          {
            type: 'number',
            message: 'Допускаются только цифры'
          },
        ]
      }
    }
  },
  methods: {
    gradeNumLet(rule, value, callback) {
      if (this.school.grade_number === '' || this.school.grade_letter === '') {
          callback(new Error('Укажите класс'))
        } else {
          callback()
        }
    },
    onSubmit(formEl) {
      console.log(this.school);
      this.$emit('nextStep');
  //     if (!formEl) return
  //      formEl.validate((valid) => {
  //     if (valid) {
  //       console.log('submit!')
  //     } else {
  //       console.log('error submit!')
  //       return false
  //   }
  // })
    }
  }

}
</script>