<template>
  <el-steps :active="step" align-center class="steps" finish-status="success">
    <el-step description="Личные данные участника"></el-step>
    <el-step description="Образовательная организация участника"></el-step>
    <el-step description="Прочие данные участника"></el-step>
    <el-step description="Сопровождающее лицо"></el-step>
    <el-step v-if="isMoscow" description="Маршрут"></el-step>
  </el-steps>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: ['step'],
  computed: {
    ...mapGetters(['isMoscow']),
  }
}
</script>