.form
  &_container
    border: 1px solid #E0DCE6
    box-sizing: border-box
    border-radius: 9px
    padding: 40px 50px
    margin-top: 35px
  &_subtitle
    font-weight: bold
    font-size: 14px
    line-height: 19px
    color: #606266
    margin-bottom: 20px

.upload_title
  font-weight: normal
  font-size: 14px
  color: #606266
  margin-bottom: 20px

.btns
  display: flex
  flex-direction: row-reverse
  margin-top: 65px
  margin-bottom: 110px
  &_prev
    margin-right: 25px

.other
  &_label
    margin-right: 10px
    font-weight: normal
    font-size: 14px
    line-height: 19px
    color: #606266

.download_link
  cursor: pointer
  color: $purple
  font-weight: bold
