.steps
  margin-top: 110px

.el-step
  .is-process
    color: $purple
    .is-text
      border: 2px solid $purple
  // .is-finish
  //   color: $green
  .el-step__description
    margin-top: 10px
    font-weight: bold


// .is-finish .is-text
//   color: $green