// @import 'overrideElementPlus'
$purple: #6D54DE
$green: #5BB023
*
  font-family: 'Roboto', sans-serif
  margin: 0
  padding: 0
  box-sizing: border-box

.container
  width: 1090px
  margin: 0 auto

@import 'form'
@import 'steps'
@import 'header'